<h1> Here's a List of All our Awesome Teams!</h1>
	
<p>
    <% unless @teams.empty? %>
		<ul>
		<% @teams.each do |team| %>
		  <li><%= link_to team.name, team_url(team.id) %></li>
		<% end %>
	    </ul>
	<% end %>
</p>

<p><%= link_to "Create New Team", new_team_url %></p>

<p><%= link_to "Check out all our users!", users_url %></p>