<h1> India's To-Do List of Wonderful and Amazing Projects!</h1>
	
<p>
	<ul>
	<% @projects.each do |project| %>
	  <li><%= link_to project.title, project_url(project.id) %></li>
	<% end %>
    </ul>
</p>

<p><%= link_to "Create New Project", new_project_url %></p>