<h1>All Items for the Project</h1>
<p>NOTE: Why can't I figure out a nice way to get the project's title in here?<br />
I mean, it's coming from a project so it should be available, right?</p>

<p>
	 <% unless @items.empty? %>
		<ul>
		<% @items.each do |item| %>
		  <li><%= link_to item.title, item_url(item.id) %></li>
		  <ul><li><%= item.done? %></li></ul>
		<% end %>
	    </ul>
	<% end %>
</p>

<p><%= link_to "Create New Item", new_project_item_url %></p>